body{
	text-align: center;
	font-size: 1.5em;
	font-family: cursive, serif;
	color:white;
	background-image: url("mehsferrel.jpg");

}
p{
	font-size: 1em;
	font-family: 'Indie Flower', cursive;
	color: #ff7b00
}
#animoo{
	color:blue;
}
#anime{
	color:orange;
}
